/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/report
/reports
/docker-compose/mysql/
/docker-compose/redis
/docker-compose/redis/appendonly.aof
/.husky/pre-commit
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
